html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: #FBFBFB;

    .vertical-container {
        display: flex;
        gap: 40%;
        flex-direction: column;
        align-items: center;
        aspect-ratio: 1/1;
    }

    .flex-button {
        box-shadow: 1px 4px 50px 0 rgba(0, 0, 0, 0.20);
        margin-top: 20px;
        font-size: 25px;
        width: 220px;
        height: 220px;
        aspect-ratio: 1/1;
        border-radius: 40px;
        border: none;
        background: #FBFBFB;
    }

    .flex-button:hover {
        border: 8px solid #000;
        animation: pulse 1s infinite;
    }

    #p1 {
        padding-top: 50px;
        padding-bottom: 15px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 15px;
        align-self: stretch;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
}

footer {

    position: absolute;

    .box {
        display: flex;
        width: auto;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 30px;

    }

    .box-item {
        color: #2391FF;
        font-size: 40px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
    }

    #home-hot-link {
        color: rgb(0, 0, 0);
        font-size: 20px;
        background: transparent;
        border: none;
        padding-top: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        text-decoration: none;
    }
}